node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.lock-watcher.log
.pnpm-lock.yaml.yarn-integrity
.pnpm-store
pnpm-debug.log
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock
npm-shrinkwrap.json
package-lock.json
yarn.lock
npm-shrinkwrap.json
.env
.env.local
*.env.development.local